@font-face {
    font-family: junicode;
    src: url(fonts/Junicode.ttf) format('truetype');
}
@font-face {
    font-family: junicode-italic;
    src: url(fonts/Junicode-Italic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}
html {
    --dark-green: rgb(106, 156, 137);
    --light-green: rgb(193, 216, 195);
    --orange: rgb(255, 167, 37);
    --cream: rgb(255, 245, 228);
    --dusty-rose: #f39ab4;
}

body {
    background-color: rgb(255,245,228);
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 1fr 7fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* BOOK CARD AREA  */
#mainContainer {
    height: 100%;
    padding: 1rem;
    grid-area: 2/2/3/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    > #cardContainer {
        display: flex;
        flex-direction: column;
        
    }
    
}

.bookCard {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: junicode, sans-serif;
    font-size: 1.4rem;
    color: rgba(24, 23, 23);
    padding: 1rem;
    box-shadow: 0px 1px 1px 0px rgba(193, 216, 195, 0.692);
    > h2 {
        width: 14rem;
    }
}
/* FORM CSS */
#form {
    grid-area: 3/1/4/4;
    background-color: var(--light-green);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    >form {
        padding: 1rem;
        display: none;
    }
    form.active {
        display: flex;
        flex-direction: row;
    }
    > #newBook {
        margin: auto;
        align-self: center;
        background-color: aquamarine;
        border: 0;
        border-radius: 5px;
        width: 7rem;
        height: 3rem;
    }
}
label {
    position:relative;
    right: 15%;

}
input:focus + label,
input:not(:placeholder-shown) + label {
    
    transform: translateY(-160%) scale(1.2);
}
input {
    position: relative;
    background-color: var(--light-green);
}

/* HEADER CSS */
#header{
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    
    >#logo {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center; 
        font-size: 1.8rem;  
    >#owl-logo {
        height: 100px;
        width: 100px;
        }
    > #logo-text {
        display: flex;
        flex-direction: column;
    }
    }
    
    > #profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        > #profile-pic{
            height: 40px;
            width: 40px;
        }
    }
}
/* FOOTER CSS */
#footer {
    /* padding: 1rem; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    background-color: var(--dark-green);
    height: 100%;
    grid-area: 4/1/5/4;
    color: rgb(255, 255, 255);
    
}
