@font-face {
    font-family: junicode;
    src: url(fonts/Junicode.ttf) format('truetype');
}
@font-face {
    font-family: junicode-italic;
    src: url(fonts/Junicode-Italic.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}
html {
    --dark-green: rgb(106, 156, 137);
    --light-green: rgb(193, 216, 195);
    --orange: rgb(255, 167, 37);
    --cream: rgb(255, 245, 228);
    --dusty-rose: #f39ab4;
}

body {
    background-color: var(--cream);
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 1fr 7fr 1fr 2fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

/* BOOK CARD AREA  */
#mainContainer {
    height: 100%;
    padding: 1rem;
    grid-area: 2/2/4/3;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;   */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    overflow: auto;
}

.bookCard {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    font-family: junicode, sans-serif;
    font-size: 1.4rem;
    color: rgba(24, 23, 23);
    padding: 1rem;
    box-shadow: 0px 1px 0px 0px rgba(193, 216, 195, 0.692);
    > h2 {
        align-self: start;
        width: 14rem;
    }
    >#infoDiv {
        width: 10rem;
    }
}
img {
    margin-left: 2rem;
    height: 100%;
    width: 55px;
    
}
#buttonDiv {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    > .cardButtons {
        height: 40px;
        width: 40px;
    }
}
/* FORM CSS */
#form {
    
    grid-area: 2/3/4/4;
    
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 4fr 1fr;
    >form {
        grid-row: 1/2;
        padding: 1.5rem;
        display: none;
        > fieldset {
            border: 0;
        }
    }
    form.active {
        grid-row: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    > #newBook {
        grid-row: 2/3;
        place-self: center;
        padding: 0.8rem 1.3rem;
        background-color: var(--dark-green);
        border: 0;
        border-radius: 50px;
        color: white;
        font-size: 2rem;
    }
}

fieldset {
    display: flex;
}
label {
    font-size: 1.4rem;
    position: absolute;
    transition: all 0.2s ease;
    pointer-events: none;
}


.formInput {
    position: relative;
    height: 1.5rem;
    width: 70%;
    background-color: var(--cream);
    border: 0;
    border-bottom: dotted black medium ;
    transition: all 0.2s ease;
    font-family: junicode;
    font-size: 1.4rem;
}
input::placeholder{
    font-size: 0;
}
input:focus + label,
input:not(:placeholder-shown) + label {
    border: 0;
    transform: translateY(-160%) scale(1.2);
}
input:focus,
input:active,
input:valid {
    outline: 0; 
}

#submit {
    background-color: var(--dark-green);
    width: 5rem;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    margin-left: 1rem;
    color: white;
    font-family: junicode;
    font-size: 1.2rem;
    font-weight: 400;
}
/* HEADER CSS */
#header{
    grid-area: 1/1/2/4;
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    
    >#logo {
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center; 
        font-size: 1.8rem;  
    >#owl-logo {
        height: 100px;
        width: 100px;
        }
    > #logo-text {
        display: flex;
        flex-direction: column;
    }
    }
    
    > #profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        > #profile-pic{
            height: 40px;
            width: 40px;
        }
    }
}
/* FOOTER CSS */
#footerContainer {
    background-color: var(--dark-green);
    height: 100%;
    grid-area: 4/1/5/4;
    color: rgb(255, 255, 255);
    > #light-green {
        height: 1rem;
        background-color: var(--light-green);
    }
    > #footer {
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 50px;
        font-family: liberation-serif;
        font-style: italic;
        font-size: 1.2rem;
    }
    
}
